<p>
  <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
  Estar segur d'eliminar el grup comptable <strong> <%= @grup.pgccte.to_s + ' - ' + @grup.pgcdes %> </strong> ?<BR/>
  També s'eliminaran els seus subgrups o comptes.
</p>
