<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Ja casi has acabat <%= @user.nom %> !</h1>
    <p>
      D'aqui uns segons podras començar la comptabilitat de la 
      teva empresa.
    </p>
    <p>
      Per a validar el del teu compte d'usuari, fes click aqui:<BR/>
      <%= @url %>
    </p>
    <p>L'equip d'Assets</p>
  </body>
</html>
