<tr>
  <td>
    <%= select_tag "imp[#{nrow}][compte]",
          options_from_collection_for_select(
            comptesImpostos,
            'ctcte',
            'ctfullname',
            histImp.compte.ctcte),
          {:class => 'compte'} %> 
  </td>
  <td>
    <%= text_field_tag "imp[#{nrow}][import]",
                       histImp.impbas,
                       {:class => 'import'} %> 
    <div class='numeric'> </div>
  </td>
  <td class='destroy'>
    <span class='ui-icon ui-icon-closethick'></span>
  </td>
</tr>
