<tr>
  <td>
    <%= select_tag "pag[#{nrow}][compte]",
          options_from_collection_for_select(
            comptesPagaments,
            'ctcte',
            'ctfullname',
            histPag.compte.ctcte),
          {:class => 'compte'} %> 
  </td>
  <td>
    <%= text_field_tag "pag[#{nrow}][import]",
                       histPag.import,
                       {:class => 'import'} %> 
    <div class='numeric'> </div>
  </td>
  <td>
    <%= text_field_tag "pag[#{nrow}][comment]",
                       histPag.comen,
                       {:class => 'comment'} %> 
  </td>
  <td>
    <%= text_field_tag "pag[#{nrow}][date]",
                       histPag.datven,
                       {:class => 'date',
                        :type => 'date'} %> 
  </td>
  <td class='destroy'>
    <span class='ui-icon ui-icon-closethick'></span>
  </td>
</tr>
