<p>
  <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
  Estar segur d'eliminar el compte comptable <strong> <%= @compte.ctcte.to_s + ' - ' + @compte.ctdesc %> </strong> ? <BR/>
</p>
