<tr>
  <td>
    <%= select_tag "pag[#{nrow}][compte]",
          options_from_collection_for_select(comptesPagaments,
                                             'ctcte',
                                             'ctfullname'),
          {:class => 'compte'} %> 
  </td>
  <td>
    <%= text_field_tag "pag[#{nrow}][import]",
                       '',
                       {:class => 'import'} %> 
    <div class='numeric'> </div>
  </td>
  <td>
    <%= text_field_tag "pag[#{nrow}][comment]",
                       '',
                       {:class => 'comment'} %> 
  </td>
  <td>
    <%= text_field_tag "pag[#{nrow}][date]",
                       '',
                       {:class => 'date',
                        :type => 'date'} %> 
  </td>
  <td class='destroy'>
    <span class='ui-icon ui-icon-closethick'></span>
  </td>
</tr>
