<script type="text/javascript">

    $(document).ready(function () {
        // prepare the data
        var source =
        {
            datatype: "json",
            datafields: [
                { name: 'ctclau' },
                { name: 'ctasse' },
                { name: 'ctkey' },
                { name: 'ctdcta' },
                { name: 'ctpref' },
                { name: 'cttext' },
                { name: 'ctimp' },
            ],
            url: "http://192.168.28.58:3999/moviments/grid",
            data: {
                featureClass: "P",
                style: "full",
                maxRows: 50
            }
        };
        var dataAdapter = new $.jqx.dataAdapter(source);
        $("#jqxgrid").jqxGrid(
        {
            width: 700,
            source: dataAdapter,
            columnsresize: true,
            columns: [
                { text: 'Numero ordre', datafield: 'ctclau', width: 100 },
                { text: 'Numero assentament', datafield: 'ctasse', width: 100 },
                { text: 'Numero compte', datafield: 'ctkey', width: 100 },
                { text: 'Data comptable', datafield: 'ctdcta', width: 100 },
                { text: 'Prefix', datafield: 'ctpref', width: 100 },
                { text: 'Comentari', datafield: 'cttext', width: 100 },
                { text: 'Import', datafield: 'ctimp', width: 100 },
            ]
        });

        $('#jqxgrid').bind('rowclick', function (event) 
        {
          var args = event.args;
          var row = args.rowindex;

          alert(row);
        });

        $("#jqxExpander").jqxExpander({ width: '350px' });

    });
</script>

<%= form_for @article, :url => { :action => "create" }, :html => {:class => "nifty_form"} do |f| %>
  <%= f.text_field :title %>
  <%= f.text_area :body, :size => "60x12" %>
  <%= f.submit "Create" %>
<% end %>

<div id="jqxExpander">
  <div> Formulari de moviment </div>
  <div> 
    <textarea name="comments" cols="40" rows="5">
    Enter your comments here...
    </textarea><br>
    <input type="submit" value="Submit"/>
  </div>
</div>

</div>

<BR/>
<BR/>

<div id='jqxWidget' style="font-size: 13px; font-family: Verdana; float: left;">
  <div id="jqxgrid"></div>
</div>
