<div class='contactar-empresa'>
  <h1>Benvingut a Assets, <%= @current_user.nom %> !</h1>

  <p>
    Encara no tens accés a la comptabilitat de cap empresa, contacta
    amb alguna empresa que utilitzi Assets i comença a beneficiar-te
    dels avantatges d'Assets immediatament.
  </p>
</div>
