div.consulta {
  margin-top: 10px;
}

div.consulta h3 {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  color: #333;
}

div.consulta form {
  margin: 10px 0 0 5px;
}

div.consulta fieldset {
  width: auto;
  border: 0;
}

div.consulta fieldset div.container {
  float: left;
  clear: none; 
  width: 100%;
}
div.consulta fieldset div.p1 {
  float: left;
  width: 350px;
}
div.consulta fieldset div.p2 {
  float: left;
}

div.consulta fieldset div.p3 {
  float: left;
}

div.consulta fieldset legend {
  color: #333;
  font-size: 14px;
  margin-bottom: 5px;
}

div.consulta form ol {
  padding: 0;
}
div.consulta form ol li {
  line-height: 30px;
  list-style: none;
  margin-bottom: 2px;
}

div.consulta form label {
  clear: both;
  width: 80px;
  float: left;
  padding-bottom: 10px;
  color: #333
}

div.consulta fieldset.filtre input:not([type=submit]),
div.consulta fieldset.filtre select {
  border: 1px solid #aaa;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  border-color: #C7C7C7;
  padding: 2px;
}

div.consulta fieldset.filtre select {
  float: left;
  width: 220px;
}

div.consulta fieldset.filtre input#dateFrom,
div.consulta fieldset.filtre input#dateTo {
  width: 100px;
}

div.consulta form input[type=submit] {
  width: auto;
  margin: 50px 0 0 20px;
  font-size: 2em;
}

div.consulta div#histgrid {
  margin-top:10px;
}
