div.menuOptions {
  width: auto;
  margin-left: 10%;
  display: inline-block;
}

div.menuOptions div.option {
  float: left;
  width: 100px;
  height: 90px;
  overflow: hidden;
  text-align: center;
  padding: 10px;

  border: 1px solid transparent;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}

div.menuOptions div.option.hover {
  background-color: #C7C7C7;
  border: 1px solid #aaa;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}

div.menuOptions div.option img {
  top: -100px;
  z-index: -1;
}

div.menuOptions div.option div.text {
  vertical-align: middle;
  margin: 5px;
}
